%div{:class => "comment_#{@comment.id.to_s} comment"}
  %div
    By
    %span.author
      = @comment.author.email
  .body
    = @comment.body
  
  - if can? :manage, @comment
    .links.actions
      = link_to 'Edit', [:edit, @comment.entry, @comment]
      = link_to 'Destroy', [@comment.entry, @comment], :method => :delete, :confirm => "Are you sure?"
