%h3= @entry.author.try(:email)
.entry
  .meta
    Published at
    %span.date= @entry.created_at
  .body
    = @entry.content.html_safe
    
  - if can? :manage, @entry
    .links.actions
      = link_to 'Edit', [:edit, @entry]
      = link_to 'Destroy', @entry, :method => :delete, :confirm => "Are you sure?"
      
  .comments
    %h5 Comments on this entry
  
    - @entry.comments.each do |comment|
      = render :partial => 'comments/show', :locals => {:@comment => comment}
  
    .new_comment
      = render :partial => 'comments/form', 
                :locals => {:@commentable => @entry, :@comment => @entry.comments.new}
