.server{:id => "server_#{@server.id.to_s}"}
  .title
    = @server.title
  
  .address
    = @server.address
    
  - if can? :manage, @server
    .links.actions
      = link_to 'Edit', [:edit, @server]
      = link_to 'Destroy', @server, :method => :delete, :confirm => "Are you sure?"
      
  .comments
    %h5 Comments on this server
  
    - @server.comments.each do |comment|
      = render :partial => 'comments/show', :locals => {:@comment => comment}
  
    .new_comment
      = render :partial => 'comments/form', 
                :locals => {:@commentable => @server, :@comment => @server.comments.new}
