= semantic_form_for @topic, :as => 'topic' do |f|
  = f.inputs do
    = f.input :title
    = f.input :category, :as => :radio
    = f.input :author, :as => :radio, :value => current_user.id

  = f.buttons
