%h1 Listing forum_topics

%table
  %tr
    %th Title
    %th Author
    %th
    %th
    %th

  - @topics.each do |forum_topic|
    %tr
      %td= forum_topic.title
      %td= forum_topic.author.name
      %td= link_to 'Show', forum_topic
      %td= link_to 'Edit', [:edit, forum_topic]
      %td= link_to 'Destroy', forum_topic, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Topic', [:new, :forum, :topic]
