= show_for @topic do |t|
  = t.attribute :title
  = t.association :author
  = t.association :category
  
= link_to 'Edit', edit_forum_category_topic_path(@category, @topic)
\|
= link_to 'Back', forum_category_topics_path(@category)
