!!!
%html
  %head
    %title ClanLeopard
    = theme_stylesheet_link_tag 'menu'
    = theme_stylesheet_link_tag 'scaffold'
    = formtastic_stylesheet_link_tag
    = javascript_include_tag :defaults
    = csrf_meta_tag
  
  %body
    %div#menu
      = render_navigation
    
    = current_user.try(:email) || "NONE"
      
    %div.flashes
      %div#error
        = flash[:error]
      %div#notice
        = flash[:notice]
      %div#message
        = flash[:message]
        
    = yield
