%h1 Listing users

%table
  %tr
    %th Name
    %th Email
    %th

  - @users.each do |user|
    %tr
      %td= user.name
      %td= user.email
      %td
        - if can? :manage, user
          = link_to 'Show', user
          = link_to 'Edit', edit_user_path(user)
          = link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

- if can? :create, User
  = link_to 'New User', [:new, :user]
