.module
  .bar
    %img.flag{:src => '/images/flags/pl.png'}
    = @entry.title
  .subtitle
    = @entry.created_at
    - if can? :manage, @entry
      .links.actions
        = link_to 'Edit', [:edit, @entry]
        = link_to 'Destroy', @entry, :method => :delete, :confirm => "Are you sure?"
  .ctext
    = @entry.content.html_safe
      
  = link_to_replace "Show comments", [@entry, :comments]
