= simple_form_for(@user) do |f|
  - if @user.errors.any?
    #error_explanation
      %h2
        = pluralize(@user.errors.count, "error")
        prohibited this user from being saved:

      %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg

  .inputs
    = f.input :name
    - if @user.new_record?
      = f.input :email
      = f.input :password
      = f.input :password_confirmation
    = f.input :gender, :collection => {"Not specified" => 0, "Male" => 1, "Female" => 2}
    = f.input :country, :collection => $COUNTRIES
    = f.input :age, :collection => 10..50
    = f.simple_fields_for :profile do |p|
      = p.input :steam
      = p.input :xfire
      = p.input :jabber
      = p.input :gadugadu
    = f.simple_fields_for :hardware do |h|
      = h.input :cpu
      = h.input :vga
      = h.input :ram
      = h.input :sound
      = h.input :mouse
      = h.input :keyboard
      = h.input :net
      = h.input :hdd
    = f.input :signature

  .actions
    = f.button :submit
